<%- include("partials/header") %>

<div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <h1 id="heading"> Session 1</h1>
  <form method="POST" action="/keystrokeAnalysis">
    <div id="captcha">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Captcha" id="cpatchaTextBox" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!-- <textarea id="textArea" name="Hii"></textArea> -->
  </form>
</div>
</body>
<script src="js/captcha.js"></script>

</html>