<!DOCTYPE html>
<html>
<head>
	<title>captcha</title>
  <link rel="stylesheet" type="text/css" href="captcha.css">

</head>
<body onload="createCaptcha()">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <form  method="post" action="/keystrokeAnalysis"  >
    <div id="captcha">
    </div>
    <input type="text" placeholder="Captcha" id="cpatchaTextBox"/>
    <button type="submit" >Submit</button>
  </form>
  <!-- onsubmit="return validateCaptcha() -->
</body>
<script src="js/captcha.js"></script>
</html>