<%- include("partials/header") %>

<div >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <form method="POST" action="/keystrokeAnalysis">
    <div id="captcha">
    </div>
    <input type="text" placeholder="Captcha" id="cpatchaTextBox"/>
    <button type="submit" >Submit</button>
    <!-- <textarea id="textArea" name="Hii"></textArea> -->
  </form>
</div>
</body>
<script src="js/captcha.js"></script>
</html>