<%- include("partials/header") %>

<div style="margin-top: 10px">
    <header class="jumbotron">
        <div class="container">
            <h1 style=" color:rgba(5, 5, 5, 0.7); text-shadow: 0.5px 0.5px 0.5px #fff;">
                Welcome to KeyAuth
            </h1>
            <p style="  text-shadow: 1px 1px 1px #000;">
                This site is for our project KeyAuth.
                <br>
                Help us in collecting the data we need for our project.
                <br>
                Thankyou :)
            </p>

        </div>

    </header>
    <p>
        Get Your Keystrokes enrolled 
        <a class="btn btn-primary btn-large" href="/keystrokeAnalysis">
        here.
    </a>
    </p>
</div>

<%- include("partials/footer") %>